.app-container {
    flex: 1; 
    display: flex; 
    flex-direction: column;
    /* Cambiamos de space-evenly a flex-start para controlar la altura */
    justify-content: flex-start; 
    align-items: center; 
    /* Reducimos el gap para que los bloques no se separen tanto */
    gap: 0.5vh; 
    /* Este margen superior empuja todo un poco hacia abajo del logo, 
       pero permite que el resto suba */
    padding-top: 3vh; 
}

.bubble-wrapper { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 100%;
    /* Espacio entre la etiqueta de texto y el siguiente botón */
    margin-bottom: 2vh; 
}

.bubble {
    /* Reducimos un poco el tamaño para asegurar que quepan en pantallas mini */
    width: 19vh; 
    height: 19vh; 
    max-width: 160px; 
    max-height: 160px;
    border-radius: 50%; 
    border: none;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.label { 
    margin-top: 5px; 
    /* Tamaño de fuente responsivo */
    font-size: 1.1rem; 
    color: var(--gris-institucional); 
    font-weight: 900; 
    text-transform: uppercase; 
}