:root {
    --naranja-jalisco: #EE7D11;
    --gris-institucional: #54565A;
    --rojo-emergencia: #D32F2F;
    --fondo-seda: #ECECEC;
    --blanco-cristal: rgba(255, 255, 255, 0.4);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Roboto, sans-serif;
    background-color: var(--fondo-seda);
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; /* Todo en una sola pantalla sin scroll */
}

.header-main {
    padding: 10px 20px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.app-title {
    font-size: 1.4rem;
    color: var(--gris-institucional);
    font-weight: 900;
}

.img-logo {
    height: 50px;
    width: auto;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Distribuye las burbujas usando todo el alto */
    align-items: center;
    flex-grow: 1;
    padding: 5px 0;
}

.bubble-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bubble {
    width: 185px; /* Tamaño ideal para que quepan las 3 verticalmente */
    height: 185px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    overflow: hidden;
}

.bubble span {
    color: white;
    font-size: 1.7rem; /* Letra extra grande solicitada */
    font-weight: 900;
    text-align: center;
    line-height: 1;
    z-index: 2;
    padding: 0 10px;
}

.bubble::before {
    content: "";
    position: absolute;
    top: 5%;
    left: 20%;
    width: 60%;
    height: 30%;
    background: linear-gradient(to bottom, var(--blanco-cristal), transparent);
    border-radius: 50%;
}

.bg-gris { background: radial-gradient(circle at 30% 30%, var(--gris-institucional), #222); }
.bg-naranja { background: radial-gradient(circle at 30% 30%, var(--naranja-jalisco), #a8580b); }
.bg-rojo { background: radial-gradient(circle at 30% 30%, var(--rojo-emergencia), #801b1b); }

.label {
    margin-top: 4px;
    font-size: 1.7rem; /* Letra de abajo igual de grande */
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
}